--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
pyjwt
firebase-admin
boto3
botocore
ultralytics
opencv-python-headless
numpy<2.0.0
torch
torchvision
deepface
tf-keras